body {
    height: 500px;
    border: 2px solid  fuchsia;

    display: flex;
    flex-flow: row wrap ;
    /*flex-flow: row nowrap ;*/
    /*flex-flow: column wrap ;*/
    /*flex-flow: column nowrap ;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: flex-end;
    align-content:  space-around;

}

div{
    width: 100px;
    height: 100px;
    margin: 1rem;
    border: 1px solid red;
    background-color: #ff8897;
    text-align: center;
}
