header , footer   {
      display: flex;
      flex-direction:  row;
      justify-content: space-between;
  }
h1 {

    display: flex;
    font-size: 1rem;
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #4bf2ff;
    border: 2px solid blue;
}
a{
     width: 5rem;
     height: 5rem;
     margin: 2px;
     background-color: #ff8897;
     border: 2px solid blue;
 }
a:hover {
    background-color: red;
    cursor: grab;
}
