html{
    /*border: 10px solid green;*/
    font-family: 'Cantarell', sans-serif;
    color: beige;
}

div{
    font-family: 'Cantarell', sans-serif;

}
header ,   footer   {
    text-align: center;
    text-transform: uppercase;
    font-size:.75rem ;
    color: red;

}
#idx-atf {
    height: 100vh;
    /*border: 10px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*background*/
    background-color: beige;
    background-image: url("mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: padding-box;
    background-attachment: fixed;
}
#idx-atf>div {
    height: 95vh;
}
.idx-center-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.idx-center-all {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

 }
h1 , h2, h3 , h4 ,h5 , h6 {
    text-align: center;
    /*padding: 0.2rem;*/

}
h1{

    color: red;
    text-transform: uppercase;
font-size: 3rem;

}
h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight:700 ;
}
h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight:700 ;

}
h4{
    text-transform: uppercase;
    font-size:1rem ;
    font-weight: 700;
    /*line-height: 1.5;*/
}
h5{
    text-transform: uppercase;
    font-size:.75rem ;
    /*font-weight: ;*/
}
h6{
    text-transform: uppercase;
    font-size: .75rem;
    /*font-weight: ;*/
}
button{
    color: whitesmoke;
    text-transform: uppercase;
    font-size:1rem ;
    font-weight:700 ;
    border: 1px solid whitesmoke;
    padding: 0.6rem ;
    border-radius: 32%;

}
button:hover {
    background-color: rgba( 78 , 255 ,155 0.75);
    color: green;
    /*text-transform: uppercase;*/
    /*font-size:2rem ;*/
    /*font-weight:700 ;*/
    border: 1px solid red;
    /*margin: 2px ;*/
}