body{
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
div{
    width: 5rem;
    height: 5rem;
    margin: 2px;
    background-color: #ff8897;
    border: 2px solid blue;
}