body{
    font-size: 20px;
    text-align: center;
    padding-top: 36px;
}
div p{
    color: red;
}
div > p{
    font-size: 30px;
}
div ~ p {
    background: orange;
}
div + p {
    color: deeppink;
    font-size: 20px;
}