body{
    width: 80%;
    margin: 0   auto;
    padding-top: 30px ;

}
p{
margin: 20px;
}
p::first-letter{
    font-family: Arial;
    font-size: 36px;
    line-height: 0.5px;
}
p::first-line{
    color: green;
    font-weight: 900;
}