
body {
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
}
a{
    width: 100%;
    height: 5rem;
    margin: 2px;
    background-color: #ff8897;
    border: 2px solid blue;
}
a:hover {
    background-color: red;
    cursor: grab;
}