* {
    border: 1px dashed pink;
}
html {
    font-size: 2rem;
}
ul {
    list-style: none;
}
li {
    border: 2px solid blue;
    border-radius: 50px;
    display: inline-block;
}
a{
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
}
li:hover{
    background-color: greenyellow;
}