 p {
    border: solid red;
    margin:20px ;
}
div{
    width: 80px;
    height: 80px;
    border: solid blue;
    background-color: darkblue;
    margin: 20px ;
    display: inline ;
    border-radius: 40px;
}
span{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: solid plum;
    background-color: darkorchid;
    margin: 20px ;
    display: block;

}