div.Grow1 {
    margin: 5px ;
     width: 200px;
     height: 100px;
     background-color: orange;
     border: 2px solid red;
     flex-grow: 1;
 }
div.Grow2 {
    margin: 5px;
    width: 200px;
    height: 100px;
    background-color: orange;
    border: 2px solid red;
    flex-grow: 2;
}
body  {
    border: 1px solid red;
    margin: 1px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}